<!-- Downloading files -->
<section id="admin-downloads" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-4 mx-auto text-center">
                <h2 class="h1 text-capitalize heading-brackets">Admin</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 py-4 text-center">
                <h5>Update reviews page</h5>
                <p>Downloads the reviews.csv from the reviews spreadsheet</p>
                <a href="/download-reviews" class="btn btn-primary">Update</a>
            </div>
            <div class="col-md-6 py-4 text-center">
                <h5>Update scholarship page</h5>
                <p>Downloads the scholarship.csv and images from the scholarship spreadsheet</p>
                <a href="/download-scholarship" class="btn btn-primary">Update</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 py-4 text-center">
                <h5>Update press mentions page</h5>
                <p>Downloads the press-mentions.csv from the press spreadsheet</p>
                <a href="/download-press-mentions" class="btn btn-primary">Update</a>
            </div>
            <div class="col-md-6 py-4 text-center">
                <h5>Update pricing and plans</h5>
                <p>Downloads the pricing-and-plans.csv from the pricing and plans spreadsheet</p>
                <a href="/download-pricing-and-plans" class="btn btn-primary">Update</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 py-4 text-center">
                <h5>Update discount amounts</h5>
                <p>Downloads the discount-amounts.csv from the pricing and plans spreadsheet</p>
                <a href="/download-discount-amounts" class="btn btn-primary">Update</a>
            </div>
            <div class="col-md-6 py-4 text-center">
                <h5>Update sitemap.xml</h5>
                <p>Regenerates sitemap from config file</p>
                <a href="/generate-sitemap" class="btn btn-primary">Update</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 py-4 text-center">
                <h5>Update static page</h5>
                <p>Regenerates static page from the original dynamic one</p>
                <a href="/generate-static-page" class="btn btn-primary">Update</a>
            </div>
        </div>
    </div>
</section>